In [47]:
import pandas as pd

In [86]:
df = pd.read_csv("spam.txt", delimiter = ';', names = ['text', 'label'])

In [87]:
pd.set_option('display.max_colwidth', None)
df.head()

,text,label
0,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat…",ham
1,Ok lar... Joking wif u oni...,ham
2,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's,spam
3,U dun say so early hor... U c already then say...,ham
4,"Nah I don't think he goes to usf, he lives around here though",ham

In [88]:
df.shape

(5572, 2)

In [89]:
df.label.value_counts()

ham                                                                                                                                                      4482
spam                                                                                                                                                      745
#&gt                                                                                                                                                      206
DECIMAL&gt                                                                                                                                                 19
 I NEED YOU,CLEAN MY HEART WITH YOUR BLOOD.Send this to Ten special people &amp                                                                             4
                                                                                                                                                         ...
-) ok. I feel like john lennon.                                                                                                                             1
 answered: . . \"She is fine!\" Gudnite"                                                                                                                    1
 I love u Grl: Hogolo Boy: gold chain kodstini Grl: Agalla Boy: necklace madstini Grl: agalla Boy: Hogli 1 mutai eerulli kodthini! Grl: I love U kano       1
-) Good morning.. keep smiling:-)                                                                                                                           1
V                                                                                                                                                           1
Name: label, Length: 79, dtype: int64

In [90]:
def custom_encoder(df):
  df.replace(to_replace = ["spam"], value = 1, inplace = True)
  df.replace(to_replace = ["ham"], value = 0, inplace = True)
  return df

In [91]:
df.label = custom_encoder(df.label)

In [92]:
df.head()

,text,label
0,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat…",0
1,Ok lar... Joking wif u oni...,0
2,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's,1
3,U dun say so early hor... U c already then say...,0
4,"Nah I don't think he goes to usf, he lives around here though",0

In [93]:
df.label.value_counts()

0                                                                                                                                                        4482
1                                                                                                                                                         745
#&gt                                                                                                                                                      206
DECIMAL&gt                                                                                                                                                 19
 I NEED YOU,CLEAN MY HEART WITH YOUR BLOOD.Send this to Ten special people &amp                                                                             4
                                                                                                                                                         ...
-) ok. I feel like john lennon.                                                                                                                             1
 answered: . . \"She is fine!\" Gudnite"                                                                                                                    1
 I love u Grl: Hogolo Boy: gold chain kodstini Grl: Agalla Boy: necklace madstini Grl: agalla Boy: Hogli 1 mutai eerulli kodthini! Grl: I love U kano       1
-) Good morning.. keep smiling:-)                                                                                                                           1
V                                                                                                                                                           1
Name: label, Length: 79, dtype: int64

Data Preprocessing

In [94]:
import string
def remove_punctuation(text):
    punctuationfree = "".join([i for i in text if i not in string.punctuation])
    return punctuationfree

In [95]:
import nltk
nltk.download('punkt')
def tokenization(text):
  words = nltk.word_tokenize(text)
  return words

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [111]:
import nltk.corpus as corpus
nltk.download('stopwords')
stopwords = nltk.corpus.stopwords.words('english')
def remove_stopwords(text):
  output = [i for i in text if i not in stopwords]
  return output

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [112]:
nltk.download('omw-1.4')
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
nltk.download('omw_1.4')
wordnet_lemmatizer = WordNetLemmatizer()
def lemmatizer(text):
  lemm_text = [wordnet_lemmatizer.lemmatize(word) for word in text]
  return lemm_text

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Error loading omw_1.4: Package 'omw_1.4' not found in
[nltk_data]     index

In [118]:
def preprocess(df_col):
  for item in df_col:
    new_item = remove_punctuation(item)
    new_item = new_item.lower()
    new_item = tokenization(new_item)
    new_item = remove_stopwords(new_item)
    new_item = lemmatizer(new_item)
    corpus.append(''.join(str(x) for x in new_item))
    return corpus

In [119]:
corpus = preprocess(df.text)

AttributeError: ignored

In [115]:
corpus[0:10]

TypeError: ignored

In [102]:
df.label.head(10)

0    0
1    0
2    1
3    0
4    0
5    1
6    0
7    0
8    1
9    1
Name: label, dtype: object

Bag of Words

In [120]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(ngram_range = (1,2))
traindata = cv.fit_transform(corpus)
X = traindata
y = df.label

TypeError: ignored

In [104]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimator = 100)
clf.fit(X,y)

TypeError: ignored

In [ ]:
from sklearn import metrics
y_pred = clf.predict(X)
metrics.accuracy_score(y_pred,y)

Testing

In [ ]:
test_df = pd.read_csv('test.txt', delimiter = ';', names = ['text', 'label'])

In [ ]:
test_df.head()

In [ ]:
X_test, y_test = test_df.text, test_df.label

In [ ]:
test_label = custom_encoder(y_test)

In [ ]:
test_label.head()

In [ ]:
test_corpus = preprocess(X_test)

In [ ]:
test_corpus[0:5]

In [ ]:
testdata = cv.transform(test_corpus)

In [ ]:
predictions = clf.predict(testdata)

In [ ]:
metrics.accuracy_score(y_test, predictions)